In [7]:
import sys 
sys.path.append('..')

In [8]:
from utils.context_manager_connection import connection_string

In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql $connection_string

#### Single line `-less readable-` syntax

In [13]:
%sql SELECT COUNT(FirstName) AS Customer_Count, Country FROM customers GROUP BY Country

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
24 rows affected.

[(5, 'Brazil'),
 (4, 'Germany'),
 (8, 'Canada'),
 (1, 'Norway'),
 (2, 'Czech Republic'),
 (1, 'Austria'),
 (1, 'Belgium'),
 (1, 'Denmark'),
 (13, 'USA'),
 (2, 'Portugal'),
 (5, 'France'),
 (1, 'Finland'),
 (1, 'Hungary'),
 (1, 'Ireland'),
 (1, 'Italy'),
 (1, 'Netherlands'),
 (1, 'Poland'),
 (1, 'Spain'),
 (1, 'Sweden'),
 (3, 'United Kingdom'),
 (1, 'Australia'),
 (1, 'Argentina'),
 (1, 'Chile'),
 (2, 'India')]

####  Using the `triple-quote` syntax to write a multi-line query with the %sql magic command.

In [15]:
%%sql 

SELECT COUNT(FirstName) AS Customer_Count, 
        Country 
FROM customers 
GROUP BY Country 
ORDER BY Customer_Count DESC

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
24 rows affected.

[(13, 'USA'),
 (8, 'Canada'),
 (5, 'Brazil'),
 (5, 'France'),
 (4, 'Germany'),
 (3, 'United Kingdom'),
 (2, 'Czech Republic'),
 (2, 'Portugal'),
 (2, 'India'),
 (1, 'Norway'),
 (1, 'Austria'),
 (1, 'Belgium'),
 (1, 'Denmark'),
 (1, 'Finland'),
 (1, 'Hungary'),
 (1, 'Ireland'),
 (1, 'Italy'),
 (1, 'Netherlands'),
 (1, 'Poland'),
 (1, 'Spain'),
 (1, 'Sweden'),
 (1, 'Australia'),
 (1, 'Argentina'),
 (1, 'Chile')]