In [1]:
import sqlite3
import pandas as pd

In [2]:
def create_sqlite_table() -> None:
    with sqlite3.connect('./databases/employee_data.db') as conn:
        cursor = conn.cursor()

        try:
            # Drop the employees table
            cursor.execute('''DROP TABLE IF EXISTS employees;''')
            
            # Create the employees table
            cursor.execute('''CREATE TABLE employees (
                        id INTEGER PRIMARY KEY,
                        name TEXT NOT NULL,
                        age INTEGER,
                        department TEXT,
                        position TEXT,
                        salary REAL
                        );''')
            
            # Insert some sample data into the employees table
            employees = [
                (1, 'John Smith', 35, 'Sales', 'Sales Manager', 150_000.00),
                (2, 'Jane Doe', 28, 'Marketing', 'Marketing Coordinator', 135_000.00),
                (3, 'Bob Johnson', 42, 'IT', 'Software Engineer', 160_000.00),
                (4, 'Sara Lee', 30, 'HR', 'HR Manager', 145_000.00),
                (5, 'Mike Brown', 38, 'Operations', 'Operations Manager', 155_000.00),
            ]
        
            cursor.executemany('INSERT INTO employees VALUES (?, ?, ?, ?, ?, ?);', employees)
            
            # Commit the changes
            conn.commit()
            
            print('Table created successfully')
            
        except Exception as e:
            print(f'Error creating table: {e}')
            conn.rollback()

In [3]:
create_sqlite_table()

Table created successfully

## There are several different ways to fetch data from a sqlite table.

#### Option 1: Using pandas `read_sql` method.

In [4]:
# Connect to employees_database.db and read data into a pandas dataframe 
with sqlite3.connect('./databases/employee_data.db') as sqlite_conn:
    df = pd.read_sql("SELECT * FROM employees", con=sqlite_conn)

df.head(10)

   id         name  age  department               position    salary
0   1   John Smith   35       Sales          Sales Manager  150000.0
1   2     Jane Doe   28   Marketing  Marketing Coordinator  135000.0
2   3  Bob Johnson   42          IT      Software Engineer  160000.0
3   4     Sara Lee   30          HR             HR Manager  145000.0
4   5   Mike Brown   38  Operations     Operations Manager  155000.0

### Option 2: using `fetchall()` on the cursor object.

In [6]:
with sqlite3.connect('./databases/employee_data.db') as sqlite_conn:
    cursor = sqlite_conn.cursor()
    cursor.execute("SELECT * FROM employees")
    data = cursor.fetchall()
    print(data)

[(1, 'John Smith', 35, 'Sales', 'Sales Manager', 150000.0), (2, 'Jane Doe', 28, 'Marketing', 'Marketing Coordinator', 135000.0), (3, 'Bob Johnson', 42, 'IT', 'Software Engineer', 160000.0), (4, 'Sara Lee', 30, 'HR', 'HR Manager', 145000.0), (5, 'Mike Brown', 38, 'Operations', 'Operations Manager', 155000.0)]

In [7]:
def get_all_employees():
    """
    Fetches all employees data from the SQLite database and returns it as a list of tuples
    
    Returns:
    list: A list of tuples representing employee data
    """
    with sqlite3.connect('./databases/employee_data.db') as sqlite_conn:
        cursor = sqlite_conn.cursor()
        cursor.execute("SELECT * FROM employees")
        data = cursor.fetchall()
    return data

In [8]:
employees_data = get_all_employees()
print(employees_data)

[(1, 'John Smith', 35, 'Sales', 'Sales Manager', 150000.0), (2, 'Jane Doe', 28, 'Marketing', 'Marketing Coordinator', 135000.0), (3, 'Bob Johnson', 42, 'IT', 'Software Engineer', 160000.0), (4, 'Sara Lee', 30, 'HR', 'HR Manager', 145000.0), (5, 'Mike Brown', 38, 'Operations', 'Operations Manager', 155000.0)]