In [1]:
import sqlite3

In [2]:
with sqlite3.connect('./databases/employee_data.db') as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
    tables = cursor.fetchall()
    print(tables)
    cursor.close()

[('employees',)]

In [3]:
with sqlite3.connect('./databases/employee_data.db') as conn:
    cursor = conn.cursor()
    table_name = "employees"
    
    script_query = """SELECT 'CREATE TABLE ' || ? || ' (' || 
                  group_concat(name || ' ' || 
                               CASE lower(type)
                                 WHEN 'integer' THEN 'INT'
                                 WHEN 'text' THEN 'VARCHAR(255)'
                                 WHEN 'real' THEN 'DECIMAL(10,2)'
                                 ELSE ''
                               END || 
                               CASE pk 
                                 WHEN 1 THEN ' PRIMARY KEY'
                                 ELSE ''
                               END,
                               ', '
                              ) || ');'
                  FROM pragma_table_info(?);"""
    
  
    cursor.execute(script_query, (table_name, table_name))
    schema = cursor.fetchone()[0]
    print(schema)
    cursor.close()

CREATE TABLE employees (id INT PRIMARY KEY, name VARCHAR(255), age INT, department VARCHAR(255), position VARCHAR(255), salary DECIMAL(10,2));