<center>address.csv

Name, Age, Address, EmploymentStatus
Jerry, 44, '2776 McDowell Street, Nashville, Tennessee', Full-time
Tom, 21, '3171 Jessie Street, Westerville, Ohio', Full-time
Mike, 32, '1818 Sherman Street, Hope, Kansas', Part-time

- `quotechar` refers to the single character string that will wrap the row that contains the delimiter inside the row.
- It defaults to `"`.
- `Address` field is quoted in `'` character - i.e. `'2776 McDowell Street, Nashville, Tennessee'`

- WITHOUT quotechar, each value inside the Address row is treated as a separate column value as seen below.

In [6]:
from csv import reader 

with open("address.csv", "rt") as csvfile:
    csv_reader = reader(csvfile, skipinitialspace=True) # quotechar='"' is the default argument

    for row in csv_reader:
        print(row)

['Name', 'Age', 'Address', 'EmploymentStatus']
['Jerry', '44', "'2776 McDowell Street", 'Nashville', "Tennessee'", 'Full-time']
['Tom', '21', "'3171 Jessie Street", 'Westerville', "Ohio'", 'Full-time']
['Mike', '32', "'1818 Sherman Street", 'Hope', "Kansas'", 'Part-time']

In [5]:
with open("address.csv", "rt") as csvfile:
    csv_reader = reader(csvfile, skipinitialspace=True, quotechar="'")

    for row in csv_reader:
        print(row)

['Name', 'Age', 'Address', 'EmploymentStatus']
['Jerry', '44', '2776 McDowell Street, Nashville, Tennessee', 'Full-time']
['Tom', '21', '3171 Jessie Street, Westerville, Ohio', 'Full-time']
['Mike', '32', '1818 Sherman Street, Hope, Kansas', 'Part-time']