## Question 4
`Write a query to retrieve the average revenue per customer for each country in the database, but only include countries with more than 3 customers. Make sure to check for duplicate customer info.`

(Hint: use a combination of subqueries and the HAVING clause)

## Expected Output

| Country   |   AvgRevenuePerCustomer |   TotalRevenue |
|:----------|------------------------:|---------------:|
| Germany   |                1.39714  |         156.48 |
| France    |                1.11486  |         195.09 |
| Brazil    |                1.08629  |         190.09 |
| Canada    |                0.678482 |         303.95 |
| USA       |                0.442147 |         523.06 |

In [1]:
%run ../utils/setup_notebook.ipynb

In [2]:
%%sql 

SELECT *
FROM invoices
LIMIT 1;

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)]

In [3]:
%%sql 

SELECT BillingCountry, 
    COUNT(BillingCountry) CountryCount,  
    TRUNCATE(AVG(Total),2) AverageRevenue,
    CEILING(SUM(Total)) TotalRevenue
FROM invoices
GROUP BY BillingCountry
HAVING COUNT(CustomerId) > 3
ORDER BY TotalRevenue DESC;

[('USA', 91, 5.74, 524.0),
 ('Canada', 56, 5.42, 304.0),
 ('France', 35, 5.57, 196.0),
 ('Brazil', 35, 5.43, 191.0),
 ('Germany', 28, 5.58, 157.0),
 ('United Kingdom', 21, 5.37, 113.0),
 ('Czech Republic', 14, 6.44, 91.0),
 ('Portugal', 14, 5.51, 78.0),
 ('India', 13, 5.78, 76.0),
 ('Chile', 7, 6.65, 47.0),
 ('Ireland', 7, 6.51, 46.0),
 ('Hungary', 7, 6.51, 46.0),
 ('Austria', 7, 6.08, 43.0),
 ('Finland', 7, 5.94, 42.0),
 ('Netherlands', 7, 5.8, 41.0),
 ('Norway', 7, 5.65, 40.0),
 ('Sweden', 7, 5.51, 39.0),
 ('Belgium', 7, 5.37, 38.0),
 ('Australia', 7, 5.37, 38.0),
 ('Spain', 7, 5.37, 38.0),
 ('Denmark', 7, 5.37, 38.0),
 ('Italy', 7, 5.37, 38.0),
 ('Poland', 7, 5.37, 38.0),
 ('Argentina', 7, 5.37, 38.0)]

In [4]:
%%sql 
--  Create a temporary table with the results of the query
CREATE TEMPORARY TABLE temporary_results AS
SELECT BillingCountry, 
    COUNT(BillingCountry) CountryCount,  
    TRUNCATE(AVG(Total),2) AverageRevenue,
    CEILING(SUM(Total)) TotalRevenue
FROM invoices
GROUP BY BillingCountry
HAVING COUNT(CustomerId) > 3
ORDER BY TotalRevenue DESC;

SELECT * FROM temporary_results;

[('USA', 91, 5.74, 524.0),
 ('Canada', 56, 5.42, 304.0),
 ('France', 35, 5.57, 196.0),
 ('Brazil', 35, 5.43, 191.0),
 ('Germany', 28, 5.58, 157.0),
 ('United Kingdom', 21, 5.37, 113.0),
 ('Czech Republic', 14, 6.44, 91.0),
 ('Portugal', 14, 5.51, 78.0),
 ('India', 13, 5.78, 76.0),
 ('Chile', 7, 6.65, 47.0),
 ('Ireland', 7, 6.51, 46.0),
 ('Hungary', 7, 6.51, 46.0),
 ('Austria', 7, 6.08, 43.0),
 ('Finland', 7, 5.94, 42.0),
 ('Netherlands', 7, 5.8, 41.0),
 ('Norway', 7, 5.65, 40.0),
 ('Sweden', 7, 5.51, 39.0),
 ('Belgium', 7, 5.37, 38.0),
 ('Australia', 7, 5.37, 38.0),
 ('Spain', 7, 5.37, 38.0),
 ('Denmark', 7, 5.37, 38.0),
 ('Italy', 7, 5.37, 38.0),
 ('Poland', 7, 5.37, 38.0),
 ('Argentina', 7, 5.37, 38.0)]

In [5]:
%%sql

SELECT BillingCountry, 
       COUNT(DISTINCT CustomerId) AS CustomerCount,
       TRUNCATE(SUM(Total) / COUNT(DISTINCT CustomerId), 2) AS AvgRevenuePerCustomer,
       CEILING(SUM(Total)) AS TotalRevenue
FROM invoices
GROUP BY BillingCountry
HAVING COUNT(DISTINCT CustomerId) > 3
ORDER BY AvgRevenuePerCustomer DESC;

[('USA', 13, 40.23, 524.0),
 ('Germany', 4, 39.12, 157.0),
 ('France', 5, 39.01, 196.0),
 ('Brazil', 5, 38.01, 191.0),
 ('Canada', 8, 37.99, 304.0)]

In [6]:
%%sql

-- What is the average total per customer by country?

SELECT c.Country, 
    AVG(i.Total / t.CustomerCount) AS AvgRevenuePerCustomer,
    t.TotalRevenue
FROM customers c
JOIN (
    SELECT BillingCountry, COUNT(DISTINCT CustomerId) AS CustomerCount, TRUNCATE(SUM(Total), 2) AS TotalRevenue
    FROM invoices
    GROUP BY BillingCountry
    HAVING COUNT(DISTINCT CustomerId) > 3
) t ON c.Country = t.BillingCountry
JOIN invoices i ON c.CustomerId = i.CustomerId
GROUP BY c.Country
ORDER BY AvgRevenuePerCustomer DESC;

[('Germany', 1.397142857142857, 156.48),
 ('France', 1.1148571428571432, 195.09),
 ('Brazil', 1.0862857142857145, 190.09),
 ('Canada', 0.6784821428571428, 303.95),
 ('USA', 0.442147083685545, 523.06)]

# Markdown Function

#### `Create a function that takes in a SQL query and returns the output in a Markdown-formatted table`

In [7]:
%%sql

-- Step 1.Save the results to a temp_table
CREATE TEMPORARY TABLE temp_table AS 
SELECT c.Country, 
    AVG(i.Total / t.CustomerCount) AS AvgRevenuePerCustomer,
    t.TotalRevenue
FROM customers c
JOIN (
    SELECT BillingCountry, COUNT(DISTINCT CustomerId) AS CustomerCount, TRUNCATE(SUM(Total), 2) AS TotalRevenue
    FROM invoices
    GROUP BY BillingCountry
    HAVING COUNT(DISTINCT CustomerId) > 3
) t ON c.Country = t.BillingCountry
JOIN invoices i ON c.CustomerId = i.CustomerId
GROUP BY c.Country
ORDER BY AvgRevenuePerCustomer DESC;

[]

In [15]:
# save the output to a result variable 

result = %sql SELECT * FROM temp_table;

print(f"{type(result)=}, \n\t{type(result.DataFrame())=}\n\t\t,{dir(result)=}")

type(result)=<class 'sql.run.ResultSet'>,
	type(result.DataFrame())=<class 'pandas.core.frame.DataFrame'>
		,dir(result)=['DataFrame', '__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_build_columns', '_get_x', '_get_xlabel', '_get_y', '_guess_columns', '_repr_html_', 'append', 'bar', 'clear', 'config', 'copy', 'count', 'csv', 'dict', 'dicts', 'extend', 'field_names', 'guess_pie_columns', 'guess_plot_columns', 'index', 'insert', 'keys', 'pie', 'plot', 'pop', 'pretty', 'remove', 'reverse', 'sort']

In [8]:
from IPython.display import Markdown, display 


def sql_to_markdown(query):
    result = %sql $query 
    df = result.DataFrame()
    display(Markdown(df.to_markdown(index=False)))

In [9]:
sql_to_markdown('SELECT * FROM temp_table')

['DataFrame', '__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_build_columns', '_get_x', '_get_xlabel', '_get_y', '_guess_columns', '_repr_html_', 'append', 'bar', 'clear', 'config', 'copy', 'count', 'csv', 'dict', 'dicts', 'extend', 'field_names', 'guess_pie_columns', 'guess_plot_columns', 'index', 'insert', 'keys', 'pie', 'plot', 'pop', 'pretty', 'remove', 'reverse', 'sort']

| Country   |   AvgRevenuePerCustomer |   TotalRevenue |
|:----------|------------------------:|---------------:|
| Germany   |                1.39714  |         156.48 |
| France    |                1.11486  |         195.09 |
| Brazil    |                1.08629  |         190.09 |
| Canada    |                0.678482 |         303.95 |
| USA       |                0.442147 |         523.06 |

#### `USING tabulate`

In [17]:
from tabulate import tabulate

def format_sql_result(result):
    headers = result.columns
    rows = result.to_records(index=False)
    return tabulate(rows, headers=headers, tablefmt='pipe')

result = %sql SELECT * FROM temp_table
formatted_result = format_sql_result(result.DataFrame())
print(formatted_result)

| Country   |   AvgRevenuePerCustomer |   TotalRevenue |
|:----------|------------------------:|---------------:|
| Germany   |                1.39714  |         156.48 |
| France    |                1.11486  |         195.09 |
| Brazil    |                1.08629  |         190.09 |
| Canada    |                0.678482 |         303.95 |
| USA       |                0.442147 |         523.06 |

| Country   |   AvgRevenuePerCustomer |   TotalRevenue |
|:----------|------------------------:|---------------:|
| Germany   |                1.39714  |         156.48 |
| France    |                1.11486  |         195.09 |
| Brazil    |                1.08629  |         190.09 |
| Canada    |                0.678482 |         303.95 |
| USA       |                0.442147 |         523.06 |