# Question 2

`Write a query to retrieve the top 5 customers who have made the most purchases over the past 6 months, but exclude customers who have made a single large purchase.`

(Hint: use the HAVING clause to filter out customers who have only made one purchase)

In [1]:
%run ../utils/setup_notebook.ipynb

In [2]:
%%sql 

SELECT *
FROM customers 
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)]

In [3]:
%%sql 

SELECT *
FROM invoices
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)]

In [4]:
%%sql 

SELECT *
FROM invoice_items
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 1, 2, 0.99, 1)]