#### Import Librararies

In [2]:
import pandas as pd 
import os

##### 1. Organize monthly sales data files into a single file.

In [3]:
#  read sample data
april_sales_df = pd.read_csv("./data/Sales_April_2019.csv", header=0, delimiter=",")
april_sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [34]:
april_sales_df.count()

Order ID            18324
Product             18324
Quantity Ordered    18324
Price Each          18324
Order Date          18324
Purchase Address    18324
dtype: int64

In [4]:
# read filenames from the given path
data_files = os.listdir('./data')
data_files

['Sales_December_2019.csv',
 'Sales_April_2019.csv',
 'Sales_February_2019.csv',
 'Sales_March_2019.csv',
 'Sales_August_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_January_2019.csv',
 'Sales_September_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv']

In [13]:
# create a sales dataframe that will concatenate each individual sales df
sales_df = pd.DataFrame()

row_count = 0
for file_name in data_files:
    monthly_sales_df = pd.read_csv(f"./data/{file_name}")
    sales_df = pd.concat([sales_df, monthly_sales_df])
    print(f"{file_name} file has {len(monthly_sales_df.index)} rows")
    row_count += len(monthly_sales_df.index) # using df.index to acccess the row count

print(f"Total row count from sales files: {row_count}")

Sales_December_2019.csv file has 25117 rows
Sales_April_2019.csv file has 18383 rows
Sales_February_2019.csv file has 12036 rows
Sales_March_2019.csv file has 15226 rows
Sales_August_2019.csv file has 12011 rows
Sales_May_2019.csv file has 16635 rows
Sales_November_2019.csv file has 17661 rows
Sales_October_2019.csv file has 20379 rows
Sales_January_2019.csv file has 9723 rows
Sales_September_2019.csv file has 11686 rows
Sales_July_2019.csv file has 14371 rows
Sales_June_2019.csv file has 13622 rows
Total row count from sales files: 186850