In [36]:
from surveydf import surveydf_prep

# print prep table columns
surveydf_prep.columns

Index(['Employment', 'DevType', 'RemoteWork', 'Country', 'Age', 'Gender',
       'EdLevel', 'YearsCode', 'LanguageHaveWorkedWith',
       'DatabaseHaveWorkedWith'],
      dtype='object')

In [37]:
# print metadata
surveydf_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Employment              71020 non-null  object
 1   DevType                 60761 non-null  object
 2   RemoteWork              58453 non-null  object
 3   Country                 71079 non-null  object
 4   Age                     70257 non-null  object
 5   Gender                  70161 non-null  object
 6   EdLevel                 70879 non-null  object
 7   YearsCode               69081 non-null  float64
 8   LanguageHaveWorkedWith  70292 non-null  object
 9   DatabaseHaveWorkedWith  59588 non-null  object
dtypes: float64(1), object(9)
memory usage: 5.6+ MB

In [38]:
surveydf_prep.describe()

          YearsCode
count  69081.000000
mean      12.414557
std        9.731131
min        1.000000
25%        5.000000
50%       10.000000
75%       17.000000
max       50.000000

In [39]:
# print the Gender count
surveydf_prep['Gender'].value_counts()

Man                                                  64607
Woman                                                 3399
Prefer not to say                                     1172
Non-binary, genderqueer, or gender non-conforming      704
Or, in your own words:                                 279
Name: Gender, dtype: int64

In [40]:
generic_genders = ['Man', 'Woman', 'Prefer not to say', 'Non-binary, genderqueer, or gender non-conforming']

is_generic =surveydf_prep.Gender.isin(generic_genders)

surveydf_prep[is_generic].Gender.value_counts()

Man                                                  64607
Woman                                                 3399
Prefer not to say                                     1172
Non-binary, genderqueer, or gender non-conforming      704
Name: Gender, dtype: int64

In [41]:
# get the values that are not in the generic gender
surveydf_prep[~is_generic].Gender.value_counts()

Or, in your own words:    279
Name: Gender, dtype: int64

In [47]:
# import numpy as np

# # simplify the gener column to improve analysis
# surveydf_prep.where(~(surveydf_prep.Gender.str.contains(';', na=False)), np.nan, inplace=True)