### Data Type Conversion

- `numeric` in SQLite can be converted to `DECIMAL` in MySQL. For example, `NUMERIC(10,2)` in SQLite can be converted to `DECIMAL(10,2)` in MySQL.

- `real` in SQLite can also be converted to `DECIMAL(p,s)`, `DOUBLE` or `FLOAT` in MySQL, depending on your needs.

- `datetime` in SQLite can be converted to `DATETIME` in MySQL.

- `boolean` in SQLite does not have an equivalent in MySQL. You can use `TINYINT(1)` or `BOOL` instead.

In [1]:
def get_mysql_data_type(sqlite_type: str) -> str:
    """
    Get the equivalent MySQL data type for a given SQLite data type

    Args:
        sqlite_type: The SQLite data type to convert

    Returns:
        The equivalent MySQL data type
    """
    data_type_map = {"integer": "INT",
                     "real": "DECIMAL(15,2)",
                     "numeric": "DECIMAL(15,2)",
                     "text": "VARCHAR(255)",
                     "datetime": "DATETIME",
                     "boolean": "BOOL",
                     "blob": "BLOB",
                     }
    return data_type_map.get(sqlite_type.lower(), "VARCHAR(255)")


float_col_type = get_mysql_data_type("real")
float_col_type

'DECIMAL(15,2)'

In [2]:
misc_type = get_mysql_data_type("DOUBLE PRECISION")
misc_type

'VARCHAR(255)'