In [1]:
import sqlite3

In [2]:
import sqlite3

def create_table() -> None:
    with sqlite3.connect('employee_database.db') as conn:
        cursor = conn.cursor()
        
        try:
            # Drop the employees table
            cursor.execute('''DROP TABLE IF EXISTS employees;''')
            
            # Create the employees table
            cursor.execute('''CREATE TABLE employees (
                        id INTEGER PRIMARY KEY,
                        name TEXT NOT NULL,
                        age INTEGER,
                        department TEXT,
                        position TEXT,
                        salary REAL
                        );''')
            
            # Insert some sample data into the employees table
            employees = [
                (1, 'John Smith', 35, 'Sales', 'Sales Manager', 150_000.00),
                (2, 'Jane Doe', 28, 'Marketing', 'Marketing Coordinator', 135_000.00),
                (3, 'Bob Johnson', 42, 'IT', 'Software Engineer', 160_000.00),
                (4, 'Sara Lee', 30, 'HR', 'HR Manager', 145_000.00),
                (5, 'Mike Brown', 38, 'Operations', 'Operations Manager', 155_000.00),
            ]
        
            cursor.executemany('INSERT INTO employees VALUES (?, ?, ?, ?, ?, ?);', employees)
            
            # Commit the changes
            conn.commit()
            
            print('Table created successfully')
            
        except Exception as e:
            print(f'Error creating table: {e}')
            conn.rollback()

In [3]:
create_table()

Table created successfully