In [1]:
import pandas as pd

In [2]:
# Load the Excel data
excel_file_path = 'ValidationReport.xlsx'
excel_data = pd.read_excel(excel_file_path, sheet_name=None)
excel_data

{'Validation':     SourceSchema   SourceTable
 0   AustinSchema   AustinTable
 1   DallasSchema   DallasTable
 2  HoustonSchema  HoustonTable
 3  SanJoseSchema  SanJoseTable,
 'AustinTable':           Name  Age      City
 0  AustinAlice   30    Austin
 1    AustinBob   25    Dallas
 2  AustinCarol   35   Houston
 3  AustinDavid   40  San Jose
 4    AustinEve   28    Austin,
 'DallasTable':           Name  Age      City
 0  DallasAlice   30    Austin
 1    DallasBob   25    Dallas
 2  DallasCarol   35   Houston
 3  DallasDavid   40  San Jose
 4    DallasEve   28    Austin,
 'HoustonTable':            Name  Age      City
 0  HoustonAlice   30    Austin
 1    HoustonBob   25    Dallas
 2  HoustonCarol   35   Houston
 3  HoustonDavid   40  San Jose
 4    HoustonEve   28    Austin,
 'SanJoseTable':            Name  Age      City
 0  SanJoseAlice   30    Austin
 1    SanJoseBob   25    Dallas
 2  SanJoseCarol   35   Houston
 3  SanJoseDavid   40  San Jose
 4    SanJoseEve   28    Austin}

In [3]:
excel_data

{'Validation':     SourceSchema   SourceTable
 0   AustinSchema   AustinTable
 1   DallasSchema   DallasTable
 2  HoustonSchema  HoustonTable
 3  SanJoseSchema  SanJoseTable,
 'AustinTable':           Name  Age      City
 0  AustinAlice   30    Austin
 1    AustinBob   25    Dallas
 2  AustinCarol   35   Houston
 3  AustinDavid   40  San Jose
 4    AustinEve   28    Austin,
 'DallasTable':           Name  Age      City
 0  DallasAlice   30    Austin
 1    DallasBob   25    Dallas
 2  DallasCarol   35   Houston
 3  DallasDavid   40  San Jose
 4    DallasEve   28    Austin,
 'HoustonTable':            Name  Age      City
 0  HoustonAlice   30    Austin
 1    HoustonBob   25    Dallas
 2  HoustonCarol   35   Houston
 3  HoustonDavid   40  San Jose
 4    HoustonEve   28    Austin,
 'SanJoseTable':            Name  Age      City
 0  SanJoseAlice   30    Austin
 1    SanJoseBob   25    Dallas
 2  SanJoseCarol   35   Houston
 3  SanJoseDavid   40  San Jose
 4    SanJoseEve   28    Austin}

In [4]:
# Extract SourceSchema and SourceTable from the 'Validation' sheet
validation_data = excel_data['Validation']
validation_data

    SourceSchema   SourceTable
0   AustinSchema   AustinTable
1   DallasSchema   DallasTable
2  HoustonSchema  HoustonTable
3  SanJoseSchema  SanJoseTable

In [5]:
validation_data.iloc[0]

SourceSchema    AustinSchema
SourceTable      AustinTable
Name: 0, dtype: object

In [6]:
validation_data.iloc[0]["SourceSchema"]

'AustinSchema'

In [7]:
source_schema = validation_data.iloc[0]["SourceSchema"]
source_table = validation_data.iloc[0]["SourceTable"]
display(source_table)

'AustinTable'

In [8]:
# Generate the SELECT * statement using SourceSchema and SourceTable
select_statement = f"SELECT * FROM {source_schema}.{source_table}"

In [9]:
# Generate the WHERE clause using all columns
data_sheet_names = [sheet_name for sheet_name in excel_data.keys()
                    if sheet_name != 'Validation']
data_sheet_names

['AustinTable', 'DallasTable', 'HoustonTable', 'SanJoseTable']

In [16]:
where_conditions = []

for data_sheet_name in data_sheet_names:
    data = excel_data[data_sheet_name]
    for index, row in data.iterrows():
        conditions = []
        for column, value in row.items():
            if isinstance(value, str):
                condition = f"{column} = '{value}'"
            else:
                condition = f"{condition} = {value}"
            conditions.append(condition)
        where_conditions.append(" AND ".join(conditions))

where_conditions

["Name = 'AustinAlice' AND Name = 'AustinAlice' = 30 AND City = 'Austin'",
 "Name = 'AustinBob' AND Name = 'AustinBob' = 25 AND City = 'Dallas'",
 "Name = 'AustinCarol' AND Name = 'AustinCarol' = 35 AND City = 'Houston'",
 "Name = 'AustinDavid' AND Name = 'AustinDavid' = 40 AND City = 'San Jose'",
 "Name = 'AustinEve' AND Name = 'AustinEve' = 28 AND City = 'Austin'",
 "Name = 'DallasAlice' AND Name = 'DallasAlice' = 30 AND City = 'Austin'",
 "Name = 'DallasBob' AND Name = 'DallasBob' = 25 AND City = 'Dallas'",
 "Name = 'DallasCarol' AND Name = 'DallasCarol' = 35 AND City = 'Houston'",
 "Name = 'DallasDavid' AND Name = 'DallasDavid' = 40 AND City = 'San Jose'",
 "Name = 'DallasEve' AND Name = 'DallasEve' = 28 AND City = 'Austin'",
 "Name = 'HoustonAlice' AND Name = 'HoustonAlice' = 30 AND City = 'Austin'",
 "Name = 'HoustonBob' AND Name = 'HoustonBob' = 25 AND City = 'Dallas'",
 "Name = 'HoustonCarol' AND Name = 'HoustonCarol' = 35 AND City = 'Houston'",
 "Name = 'HoustonDavid' AND Name = 'HoustonDavid' = 40 AND City = 'San Jose'",
 "Name = 'HoustonEve' AND Name = 'HoustonEve' = 28 AND City = 'Austin'",
 "Name = 'SanJoseAlice' AND Name = 'SanJoseAlice' = 30 AND City = 'Austin'",
 "Name = 'SanJoseBob' AND Name = 'SanJoseBob' = 25 AND City = 'Dallas'",
 "Name = 'SanJoseCarol' AND Name = 'SanJoseCarol' = 35 AND City = 'Houston'",
 "Name = 'SanJoseDavid' AND Name = 'SanJoseDavid' = 40 AND City = 'San Jose'",
 "Name = 'SanJoseEve' AND Name = 'SanJoseEve' = 28 AND City = 'Austin'"]

In [11]:
# Construct the final SQL query with SELECT statement and WHERE clause
final_query = f"""{select_statement} WHERE {' OR '.join(f'({condition})'
        for condition in where_conditions)}"""

print(final_query)

SELECT * FROM AustinSchema.AustinTable WHERE (City = 'Austin') OR (City = 'Dallas') OR (City = 'Houston') OR (City = 'San Jose') OR (City = 'Austin') OR (City = 'Austin') OR (City = 'Dallas') OR (City = 'Houston') OR (City = 'San Jose') OR (City = 'Austin') OR (City = 'Austin') OR (City = 'Dallas') OR (City = 'Houston') OR (City = 'San Jose') OR (City = 'Austin') OR (City = 'Austin') OR (City = 'Dallas') OR (City = 'Houston') OR (City = 'San Jose') OR (City = 'Austin')