In [1]:
import pandas as pd

In [2]:
excel_date = '2023-01-09'
pd.to_datetime(excel_date).strftime('%d/%m/%Y')

'09/01/2023'

In [3]:
pd.to_datetime(excel_date).strftime('%-m/%-d/%Y')

'1/9/2023'

In [4]:
excel_timestamp = '2023-01-09 12:55:43.000000'
pd.to_datetime(excel_timestamp).strftime('%-m/%-d/%Y %H:%M:%S.000000')

'1/9/2023 12:55:43.000000'

In [5]:
# Convert Excel timestamps to Teradata timestamp format for use in a query filter
excel_timestamps = ['2023-01-09 12:55:43.300000', '2023-03-08 01:00:15', '2023-05-25 10:30:45.000800']

formatted_timestamps = []
for timestamp in excel_timestamps:
    if '.' not in timestamp:
        timestamp += '.000000'
    formatted_timestamps.append(f"TIMESTAMP '{timestamp}'")

formatted_timestamps

["TIMESTAMP '2023-01-09 12:55:43.300000'",
 "TIMESTAMP '2023-03-08 01:00:15.000000'",
 "TIMESTAMP '2023-05-25 10:30:45.000800'"]

In [6]:
# Convert Excel dates to Teradata date format for use in a query filter
excel_dates = ['2023-01-09', '2023-03-08', '2023-09-29']

formatted_dates = []
for date in excel_dates:
    formatted_dates.append(f"DATE '{excel_date}'")

formatted_dates

["DATE '2023-01-09'", "DATE '2023-01-09'", "DATE '2023-01-09'"]

## Find Teradata Date and Timestamp values

In [7]:
def convert_to_teradata_timestamp(timestamp_value):
    # Convert timestamp to the format 'M/D/YYYY HH:MI:SS.000000'
    if '.' in timestamp_value:
        return pd.to_datetime(timestamp_value).strftime('%-m/%-d/%Y %H:%M:%S.%f')

    return pd.to_datetime(timestamp_value).strftime('%-m/%-d/%Y %H:%M:%S.000000')

In [8]:
excel_timestamps = ['2023-01-09 12:55:43.300000', '2023-03-08 01:00:15', '2023-05-25 10:30:45.100800']
for tmstp in excel_timestamps:
    formatted_timestamp = convert_to_teradata_timestamp(tmstp)
    print(formatted_timestamp)

1/9/2023 12:55:43.300000
3/8/2023 01:00:15.000000
5/25/2023 10:30:45.100800

In [9]:
def convert_to_teradata_date(date_value):
    # Convert date to the format 'M/D/YYYY'
    return pd.to_datetime(date_value).strftime('%-m/%-d/%Y')

In [10]:
excel_dates = ['2023-01-09', '2023-03-08', '2023-09-29']

for date in excel_dates:
    formatted_date = convert_to_teradata_date(date)
    print(formatted_date)

1/9/2023
3/8/2023
9/29/2023

## Teradata Date Pattern

In [11]:
teradata_dates = [ convert_to_teradata_date(date) for date in excel_dates]
teradata_dates

['1/9/2023', '3/8/2023', '9/29/2023']

In [12]:
import re

date_pattern = r'\d{1,2}/\d{1,2}/\d{4}'
for date in teradata_dates:
    if re.match(date_pattern, date):
        print(f"TeradataDate = {date}")

TeradataDate = 1/9/2023
TeradataDate = 3/8/2023
TeradataDate = 9/29/2023

## Teradata Timestamp Pattern

In [13]:
teradata_timestamps = [convert_to_teradata_timestamp(tmstp) for tmstp in excel_timestamps]
teradata_timestamps

['1/9/2023 12:55:43.300000',
 '3/8/2023 01:00:15.000000',
 '5/25/2023 10:30:45.100800']

In [14]:
# '1/9/2023 12:55:43.000000'
timestamp_pattern = r'\d{1,2}/\d{1,2}/\d{4} \d{1,2}:\d{1,2}:\d{1,2}\.\d+'
for tmstp in teradata_timestamps:
    if re.match(timestamp_pattern, tmstp):
        print(f"TeradataTimestamp = {tmstp}")

TeradataTimestamp = 1/9/2023 12:55:43.300000
TeradataTimestamp = 3/8/2023 01:00:15.000000
TeradataTimestamp = 5/25/2023 10:30:45.100800