# ROUNDING NUMBERS

In MySQL, there are several functions to round numbers to a specific number of decimal places or to the nearest integer.

In [1]:
%run ../utils/setup_notebook.ipynb

In [2]:
%%sql 

SELECT ROUND(523.0989888443, 2);

[(Decimal('523.10'),)]

In [3]:
%%sql 

SELECT CEILING(523.0989888443);

[(524,)]

In [4]:
%%sql 

SELECT FLOOR(523.0989888443)

[(523,)]

In [5]:
%%sql 

-- removes trailing digits beyond the given decimal place
SELECT TRUNCATE(523.0989888443, 2);

[(Decimal('523.09'),)]

In [6]:
%%sql 

-- returns a string, not a number
SELECT FORMAT(523.0989888443, 2)

[('523.10',)]