In [1]:
%run ../utils/setup_notebook.ipynb

## `DATE_FORMAT()`

The DATE_FORMAT() function is used to format the timestamp to a string with the `desired format`.

In [2]:
%%sql 

SELECT DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') AS CurrentTimestampString;

[('2023-04-22 14:18:13',)]

In [3]:
%%sql 

SELECT DATE_FORMAT(CURRENT_TIMESTAMP(), '%Y-%m-%d') AS CurrentDateString;

[('2023-04-22',)]

In [4]:
%%sql 

SELECT DATE_FORMAT(CURRENT_TIMESTAMP(), '%H:%i:%s') AS CurrentTimeString;

[('14:18:13',)]