In [1]:
%run ../utils/setup_notebook.ipynb

## DATETIME EXPRESSION

A datetime expression is a combination of one or more values or expressions that are used to represent a date and time. 

A datetime expression can consist of date and time values, or it can be constructed from other expressions such as mathematical operations, string concatenation, or functions that return date or time values. 

Examples of datetime expressions in MySQL include:

- üìå `2012-09-01 12:34:56`: a datetime literal representing a specific date and time

- üìå `NOW()`: a function that returns the current date and time

- üìå.  `DATE_ADD('2022-04-22', INTERVAL 1 DAY)`: a function that adds one day to a specified date

### üß® Most functions will return ***`NULL`*** or result in ***`unexpected errors/behavior`*** when an invalid format is passed.

In [2]:
%%sql 

-- create a datestring variable
SET @DateString := '2023-04-22 18:30:00'

[]

#### **`DATE()`**: Returns a ***DATE*** value.

In [3]:
%%sql 

SELECT DATE(@DateString) AS DatePart;

[(datetime.date(2023, 4, 22),)]

#### **`YEAR()`**, **`MONTH()`**, **`DAY()`**: Returns ***INTEGER***.

In [4]:
%%sql 

SELECT YEAR(@DateString) AS YearValue,
        MONTH(@DateString) AS MonthValue,
        DAY(@DateString) AS DayValue;

[(2023, 4, 22)]

#### **`DATEDIFF()`**: Returns an ***integer*** value representing the difference between two dates **`in days`**.

In [5]:
%%sql 

SELECT DATEDIFF(@DateString, '2023-01-01') AS DayDifference

[(111,)]

#### **‚è≥ `TIMESTAMPDIFF()`**: Returns an ***integer*** value representing the difference between two ***dates*** or ***datetimes*** in a **`specified`** format such as **SECOND**, **MINUTE**, **HOUR**, **YEAR**, etc.

In [6]:
%%sql 

-- lower timestamp value should come first

SELECT TIMESTAMPDIFF(DAY, @DateString, '2023-01-01') AS NegativeDayDifference

[(-111,)]

In [7]:
%%sql

SET @BirthDate = '1985-03-08';

SELECT TIMESTAMPDIFF(YEAR, @BirthDate, NOW()) AS Age;

[(38,)]

In [8]:
%%sql 

-- just another way of calculating year difference aka age
SELECT YEAR(NOW()) - YEAR(@BirthDate) AS YearDifference;

[(38,)]

In [9]:
%%sql 

SELECT TIMESTAMPDIFF(WEEK, '2023-01-01 00:00:00', NOW())

[(15,)]

####  **üìÖ`DATE_ADD()`** , **üìÖ`DATE_SUB()`** : Returns a ***datetime*** value.

In [10]:
%%sql

SELECT @DateString AS DateString, 
DATE_ADD(@DateString, INTERVAL 10 DAY) AS PlusTenDays;

[('2023-04-22 18:30:00', '2023-05-02 18:30:00')]

In [11]:
%%sql 

SELECT @DateString AS DateString,
DATE_SUB(@DateString, INTERVAL 3 MONTH) AS ThreeMonthsAgo;

[('2023-04-22 18:30:00', '2023-01-22 18:30:00')]