### 5.Retrieve the name of the employee who has generated the highest sales revenue in the year 2013.

- ##### Hint: Revenue = SUM(invoice_item.Quantity * invoice_item.UnitPrice). <br>You will need to join the `employees`, `customers`, `invoices`, and `invoice_items` tables and use the WHERE and GROUP BY clauses to filter for sales made in the year 2013 and aggregate the total sales made by each employee.

## Expected Output


   | TopSalesPerson         | TotalRevenue |
   |------------------------|--------------|
   | Margaret Park          | 168.3        |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql 

DESCRIBE employees;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
15 rows affected.

[('EmployeeId', b'int', 'NO', 'PRI', None, ''),
 ('LastName', b'text', 'YES', '', None, ''),
 ('FirstName', b'text', 'YES', '', None, ''),
 ('Title', b'text', 'YES', '', None, ''),
 ('ReportsTo', b'int', 'YES', 'MUL', None, ''),
 ('BirthDate', b'text', 'YES', '', None, ''),
 ('HireDate', b'text', 'YES', '', None, ''),
 ('Address', b'text', 'YES', '', None, ''),
 ('City', b'text', 'YES', '', None, ''),
 ('State', b'text', 'YES', '', None, ''),
 ('Country', b'text', 'YES', '', None, ''),
 ('PostalCode', b'text', 'YES', '', None, ''),
 ('Phone', b'text', 'YES', '', None, ''),
 ('Fax', b'text', 'YES', '', None, ''),
 ('Email', b'text', 'YES', '', None, '')]

In [3]:
%%sql

DESCRIBE customers;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
13 rows affected.

[('CustomerId', b'int', 'NO', 'PRI', None, ''),
 ('FirstName', b'text', 'YES', '', None, ''),
 ('LastName', b'text', 'YES', '', None, ''),
 ('Company', b'text', 'YES', '', None, ''),
 ('Address', b'text', 'YES', '', None, ''),
 ('City', b'text', 'YES', '', None, ''),
 ('State', b'text', 'YES', '', None, ''),
 ('Country', b'text', 'YES', '', None, ''),
 ('PostalCode', b'text', 'YES', '', None, ''),
 ('Phone', b'text', 'YES', '', None, ''),
 ('Fax', b'text', 'YES', '', None, ''),
 ('Email', b'text', 'YES', '', None, ''),
 ('SupportRepId', b'int', 'YES', 'MUL', None, '')]

In [4]:
%%sql 

DESCRIBE invoices;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
9 rows affected.

[('InvoiceId', b'int', 'NO', 'PRI', None, ''),
 ('CustomerId', b'int', 'YES', 'MUL', None, ''),
 ('InvoiceDate', b'text', 'YES', '', None, ''),
 ('BillingAddress', b'text', 'YES', '', None, ''),
 ('BillingCity', b'text', 'YES', '', None, ''),
 ('BillingState', b'text', 'YES', '', None, ''),
 ('BillingCountry', b'text', 'YES', '', None, ''),
 ('BillingPostalCode', b'text', 'YES', '', None, ''),
 ('Total', b'double', 'YES', '', None, '')]

In [5]:
%%sql 

DESCRIBE invoice_items;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[('InvoiceLineId', b'int', 'NO', 'PRI', None, ''),
 ('InvoiceId', b'int', 'YES', 'MUL', None, ''),
 ('TrackId', b'int', 'YES', 'MUL', None, ''),
 ('UnitPrice', b'double', 'YES', '', None, ''),
 ('Quantity', b'int', 'YES', '', None, '')]

In [6]:
%%sql 
-- Get the year

SELECT YEAR(i.InvoiceDate)
FROM invoices i 
LIMIT 2

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
2 rows affected.

[(2009,), (2009,)]

In [7]:
%%sql 
-- Concatenate the required column name.

SELECT CONCAT(e.FirstName,' ', e.LastName) AS 'TopSalesPerson'
FROM employees e 
LIMIT 2

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
2 rows affected.

[('Andrew Adams',), ('Nancy Edwards',)]

In [8]:
%%sql 
-- Confirm that SupportRepId from `invoices` table reference EmployeeId from `employees` table.

SELECT CONCAT(e.FirstName,' ', e.LastName) AS 'TopSalesPerson', e.EmployeeId, c.SupportRepId
FROM employees e 
JOIN customers c 
ON e.EmployeeId = c.SupportRepId
LIMIT 2

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
2 rows affected.

[('Jane Peacock', 3, 3), ('Jane Peacock', 3, 3)]

In [15]:
%%sql 

SELECT SUM(inv.Quantity * inv.UnitPrice) AS TotalRevenue
FROM invoices i
JOIN invoice_items inv 
ON i.InvoiceId = inv.InvoiceId
WHERE YEAR(i.InvoiceDate) = 2013
LIMIT 3

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(450.58000000000254,)]

In [16]:
%%sql

SELECT 
CONCAT(e.FirstName, ' ', e.LastName) AS TopSalesPerson, 
SUM(inv.Quantity * inv.UnitPrice) AS TotalRevenue
FROM employees e
JOIN customers c ON e.EmployeeId = c.SupportRepId
JOIN invoices i ON c.CustomerId = i.CustomerId
JOIN invoice_items inv ON i.InvoiceId = inv.InvoiceId
WHERE YEAR(i.InvoiceDate) = 2013
GROUP BY e.EmployeeId
ORDER BY SUM(inv.UnitPrice * inv.Quantity) DESC;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
3 rows affected.

[('Margaret Park', 168.30000000000007),
 ('Jane Peacock', 156.42999999999995),
 ('Steve Johnson', 125.84999999999972)]

In [18]:
%%sql

SELECT 
CONCAT(e.FirstName, ' ', e.LastName) AS TopSalesPerson, 
ROUND(SUM(inv.Quantity * inv.UnitPrice),2) AS TotalRevenue
FROM employees e
JOIN customers c ON e.EmployeeId = c.SupportRepId
JOIN invoices i ON c.CustomerId = i.CustomerId
JOIN invoice_items inv ON i.InvoiceId = inv.InvoiceId
WHERE YEAR(i.InvoiceDate) = 2013
GROUP BY e.EmployeeId
ORDER BY SUM(inv.UnitPrice * inv.Quantity) DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[('Margaret Park', 168.3)]