### 6.Retrieve the name of the artist who has the most albums in the database.

- ##### Hint: You will need to join the `artists` and `albums` tables and use the GROUP BY and COUNT functions to count the number of albums for each artist and order the results in descending order.

## Expected Output

   
   | ArtistWithMostAlbums | TotalAlbumCount |
   |----------------------|-----------------|
   | Iron Maiden          |      21         |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql

SELECT *
FROM artists
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'AC/DC')]

In [3]:
%%sql

SELECT *
FROM albums
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'For Those About To Rock We Salute You', 1)]

In [4]:
%%sql 
SELECT COUNT(al.AlbumId) AS TotalAlbumCount
FROM albums al
GROUP BY al.ArtistId
ORDER BY TotalAlbumCount DESC
LIMIT 5

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[(21,), (14,), (11,), (10,), (10,)]

In [5]:
%%sql 
SELECT ar.Name AS ArtistWithMostAlbums, COUNT(al.AlbumId) AS TotalAlbumCount
FROM albums al
JOIN artists ar ON al.ArtistId = ar.ArtistId
GROUP BY al.ArtistId
ORDER BY TotalAlbumCount DESC
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[('Iron Maiden', 21)]