In [1]:
%run setup_notebook.ipynb

### 2.Retrieve top 5 customers who live in the USA and have spent the most in year 2013.

- ##### Hint: You will need to join the `customers` and `invoices` tables and use the DATE and WHERE clauses to filter for customers who live in the USA.

### Expected Output

   | FirstName | LastName    | Country | TotalSpent |
   |-----------|-------------|---------|------------|
   | Richard   | Cunningham | USA     | 48.0       |
   | Julia     | Barnett     | USA     | 44.0       |
   | Frank     | Ralston     | USA     | 44.0       |
   | Victor    | Stevens     | USA     | 43.0       |
   | Dan       | Miller      | USA     | 40.0       |

In [2]:
%%sql

SELECT *
FROM customers
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)]

In [3]:
%%sql

SELECT *
FROM invoices
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)]

In [4]:
%%sql 

SELECT c.FirstName, c.LastName, c.Country, ROUND(SUM(i.Total)) TotalSpent
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
WHERE c.Country = 'USA'
GROUP BY c.FirstName, c.LastName, c.Country
ORDER BY TotalSpent DESC
LIMIT 5

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[('Richard', 'Cunningham', 'USA', 48.0),
 ('Julia', 'Barnett', 'USA', 44.0),
 ('Frank', 'Ralston', 'USA', 44.0),
 ('Victor', 'Stevens', 'USA', 43.0),
 ('Dan', 'Miller', 'USA', 40.0)]