### 8.Retrieve all invoices that contain at least one `heavy metal` track.

- ##### Hint: You will need to join the `invoices`, `invoice_items`, `tracks`, and `genres` tables and use the WHERE clause to filter for heavy metal tracks. <br> You will need to remove duplicates from invoices table.

## Expected Output

| InvoiceId | InvoiceDate             | Total |
|-----------|------------------------|-------|
| 145       | 2010-09-23 00:00:00    | 13.86 |
| 250       | 2012-01-01 00:00:00    | 13.86 |
| 39        | 2009-06-10 00:00:00    | 8.91  |
| 355       | 2013-04-10 00:00:00    | 13.86 |
| 40        | 2009-06-15 00:00:00    | 13.86 |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql

SELECT * 
FROM invoices
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)]

In [3]:
%%sql

SELECT * 
FROM invoice_items
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 1, 2, 0.99, 1)]

In [4]:
%%sql

SELECT * 
FROM tracks
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)]

In [5]:
%%sql

SELECT * 
FROM genres
LIMIT 1

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'Rock')]

In [6]:
%%sql

SELECT g.Name, COUNT(t.TrackId)
FROM genres g
JOIN tracks t ON g.GenreId = t.GenreId 
GROUP BY g.Name

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
25 rows affected.

[('Rock', 1297),
 ('Jazz', 130),
 ('Metal', 374),
 ('Alternative & Punk', 332),
 ('Rock And Roll', 12),
 ('Blues', 81),
 ('Latin', 579),
 ('Reggae', 58),
 ('Pop', 48),
 ('Soundtrack', 43),
 ('Bossa Nova', 15),
 ('Easy Listening', 24),
 ('Heavy Metal', 28),
 ('R&B/Soul', 61),
 ('Electronica/Dance', 30),
 ('World', 28),
 ('Hip Hop/Rap', 35),
 ('Science Fiction', 13),
 ('TV Shows', 93),
 ('Sci Fi & Fantasy', 26),
 ('Drama', 64),
 ('Comedy', 17),
 ('Alternative', 40),
 ('Classical', 74),
 ('Opera', 1)]

In [7]:
%%sql

-- Looks like there are duplicate records in the invoices table.

SELECT i.InvoiceId, i.InvoiceDate, i.Total
FROM genres g
JOIN tracks t ON g.GenreId = t.GenreId 
JOIN invoice_items it ON it.TrackId = t.TrackId
JOIN invoices i ON i.InvoiceId = it.InvoiceId
WHERE g.Name = 'Heavy Metal'

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
12 rows affected.

[(145, '2010-09-23 00:00:00', 13.86),
 (250, '2012-01-01 00:00:00', 13.86),
 (39, '2009-06-10 00:00:00', 8.91),
 (355, '2013-04-10 00:00:00', 13.86),
 (145, '2010-09-23 00:00:00', 13.86),
 (40, '2009-06-15 00:00:00', 13.86),
 (355, '2013-04-10 00:00:00', 13.86),
 (145, '2010-09-23 00:00:00', 13.86),
 (250, '2012-01-01 00:00:00', 13.86),
 (40, '2009-06-15 00:00:00', 13.86),
 (250, '2012-01-01 00:00:00', 13.86),
 (40, '2009-06-15 00:00:00', 13.86)]

In [8]:
%%sql

-- Deduplicating invoices table.

SELECT DISTINCT i.InvoiceId, i.InvoiceDate, i.Total
FROM genres g
JOIN tracks t ON g.GenreId = t.GenreId 
JOIN invoice_items it ON it.TrackId = t.TrackId
JOIN invoices i ON i.InvoiceId = it.InvoiceId
WHERE g.Name = 'Heavy Metal'

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[(145, '2010-09-23 00:00:00', 13.86),
 (250, '2012-01-01 00:00:00', 13.86),
 (39, '2009-06-10 00:00:00', 8.91),
 (355, '2013-04-10 00:00:00', 13.86),
 (40, '2009-06-15 00:00:00', 13.86)]