### 7.Retrieve the number of tracks in each playlist.

- ##### Hint: You will need to join the `playlist_track` table with the `playlists` table and use the GROUP BY clause to group the results by playlist. <br>You can then use the COUNT() function to count the number of tracks in each playlist.<br>You will need to use DISTINCT keyword to ensure that each playlist is listed only once.

## Expected Output

| Playlist Name              | Track Count |
|---------------------------|-------------|
| Music                     | 3290        |
| 90’s Music               | 1477        |
| TV Shows                  | 213         |
| Classical                | 75          |
| Brazilian Music           | 39          |
| Heavy Metal Classic       | 26          |
| Classical 101 - Deep Cuts | 25          |
| Classical 101 - Next Steps | 25          |
| Classical 101 - The Basics | 25          |
| Grunge                    | 15          |
| Music Videos              | 1           |
| On-The-Go 1               | 1           |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql

SELECT *
FROM playlist_track
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 1)]

In [3]:
%%sql

SELECT *
FROM playlists
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'Music')]

In [4]:
%%sql 

SELECT COUNT(pt.TrackId) 
FROM playlist_track pt

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(8715,)]

In [5]:
%%sql 
-- Notice that there are two playlists with the same name "Music" and "TV Shows"

SELECT pl.Name, COUNT(pt.TrackId) AS TrackCount, pl.PlaylistId
FROM playlists pl 
JOIN playlist_track pt ON pt.PlaylistId = pl.PlaylistId
GROUP BY pt.PlaylistId
ORDER BY TrackCount DESC

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
14 rows affected.

[('Music', 3290, 1),
 ('Music', 3290, 8),
 ('90’s Music', 1477, 5),
 ('TV Shows', 213, 3),
 ('TV Shows', 213, 10),
 ('Classical', 75, 12),
 ('Brazilian Music', 39, 11),
 ('Heavy Metal Classic', 26, 17),
 ('Classical 101 - Deep Cuts', 25, 13),
 ('Classical 101 - Next Steps', 25, 14),
 ('Classical 101 - The Basics', 25, 15),
 ('Grunge', 15, 16),
 ('Music Videos', 1, 9),
 ('On-The-Go 1', 1, 18)]

In [6]:
%%sql 

SELECT DISTINCT pl.Name, COUNT(pt.TrackId) AS TrackCount
FROM playlists pl 
JOIN playlist_track pt ON pt.PlaylistId = pl.PlaylistId
GROUP BY pt.PlaylistId
ORDER BY TrackCount DESC;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
12 rows affected.

[('Music', 3290),
 ('90’s Music', 1477),
 ('TV Shows', 213),
 ('Classical', 75),
 ('Brazilian Music', 39),
 ('Heavy Metal Classic', 26),
 ('Classical 101 - Deep Cuts', 25),
 ('Classical 101 - Next Steps', 25),
 ('Classical 101 - The Basics', 25),
 ('Grunge', 15),
 ('Music Videos', 1),
 ('On-The-Go 1', 1)]