### 3.Retrieve the top 5 best-selling artists by the number of tracks sold.

- ##### Hint: You will need to join the `artists`, `albums`, `tracks`, and `invoice_items` tables and use aggregate functions to calculate the number of tracks sold by each artist.

### Expected Output

   | ArtistName           | TracksSold |
   |----------------------|------------|
   | Iron Maiden          | 140        |
   | U2                   | 107        |
   | Metallica            | 91         |
   | Led Zeppelin         | 87         |
   | Os Paralamas Do Sucesso| 45       |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql

SELECT *
FROM artists
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'AC/DC')]

In [3]:
%%sql

SELECT *
FROM albums
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'For Those About To Rock We Salute You', 1)]

In [4]:
%%sql

SELECT *
FROM tracks
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)]

In [5]:
%%sql

SELECT *
FROM invoice_items
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 1, 2, 0.99, 1)]

In [6]:
%%sql 

SELECT COUNT(inv.TrackId) AS TracksSold
FROM invoice_items inv
ORDER BY TracksSold

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(2240,)]

In [7]:
%%sql 

SELECT ar.Name AS ArtistName, COUNT(inv.TrackId) AS TracksSold
FROM artists ar
JOIN albums al ON ar.ArtistId = al.ArtistId
JOIN tracks tr ON al.AlbumId = tr.AlbumId
JOIN invoice_items inv ON inv.TrackId = tr.TrackId
GROUP BY ar.Name
ORDER BY TracksSold DESC
LIMIT 5

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[('Iron Maiden', 140),
 ('U2', 107),
 ('Metallica', 91),
 ('Led Zeppelin', 87),
 ('Os Paralamas Do Sucesso', 45)]