In [1]:
%run setup_notebook.ipynb

### 2.Retrieve top 5 customers who live in the USA and have spent the most in year 2013.

- ##### Hint: You will need to join the `customers` and `invoices` tables and use the DATE and WHERE clauses to filter for customers who live in the USA.

### Expected Output

   | FirstName | LastName    | Country | TotalSpent |
   |-----------|-------------|---------|------------|
   | Richard   | Cunningham | USA     | 48.0       |
   | Julia     | Barnett     | USA     | 44.0       |
   | Frank     | Ralston     | USA     | 44.0       |
   | Victor    | Stevens     | USA     | 43.0       |
   | Dan       | Miller      | USA     | 40.0       |

In [3]:
%%sql

DESCRIBE customers

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
13 rows affected.

[('CustomerId', b'int', 'NO', 'PRI', None, ''),
 ('FirstName', b'text', 'YES', '', None, ''),
 ('LastName', b'text', 'YES', '', None, ''),
 ('Company', b'text', 'YES', '', None, ''),
 ('Address', b'text', 'YES', '', None, ''),
 ('City', b'text', 'YES', '', None, ''),
 ('State', b'text', 'YES', '', None, ''),
 ('Country', b'text', 'YES', '', None, ''),
 ('PostalCode', b'text', 'YES', '', None, ''),
 ('Phone', b'text', 'YES', '', None, ''),
 ('Fax', b'text', 'YES', '', None, ''),
 ('Email', b'text', 'YES', '', None, ''),
 ('SupportRepId', b'int', 'YES', 'MUL', None, '')]

In [4]:
%%sql 

DESCRIBE invoices

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
9 rows affected.

[('InvoiceId', b'int', 'NO', 'PRI', None, ''),
 ('CustomerId', b'int', 'YES', 'MUL', None, ''),
 ('InvoiceDate', b'text', 'YES', '', None, ''),
 ('BillingAddress', b'text', 'YES', '', None, ''),
 ('BillingCity', b'text', 'YES', '', None, ''),
 ('BillingState', b'text', 'YES', '', None, ''),
 ('BillingCountry', b'text', 'YES', '', None, ''),
 ('BillingPostalCode', b'text', 'YES', '', None, ''),
 ('Total', b'double', 'YES', '', None, '')]

In [29]:
%%sql 

SELECT c.FirstName, c.LastName, c.Country, ROUND(SUM(i.Total)) TotalSpent
FROM customers c
JOIN invoices i
ON c.CustomerId = i.CustomerId
WHERE c.Country = 'USA'
GROUP BY c.FirstName, c.LastName, c.Country
ORDER BY TotalSpent DESC
LIMIT 5

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[('Richard', 'Cunningham', 'USA', 48.0),
 ('Julia', 'Barnett', 'USA', 44.0),
 ('Frank', 'Ralston', 'USA', 44.0),
 ('Victor', 'Stevens', 'USA', 43.0),
 ('Dan', 'Miller', 'USA', 40.0)]