| EmployeeName        | TotalSales |
|----------------------|------------|
| Jane Peacock          | 1731.51   |
| Margaret Park         | 1584.00   |
| Steve Johnson         | 1393.92   |