### 3.Retrieve the top 5 best-selling artists by the number of tracks sold.

- ##### Hint: You will need to join the `artists`, `albums`, `tracks`, and `invoice_items` tables and use aggregate functions to calculate the number of tracks sold by each artist.

### Expected Output

   | ArtistName           | TracksSold |
   |----------------------|------------|
   | Iron Maiden          | 140        |
   | U2                   | 107        |
   | Metallica            | 91         |
   | Led Zeppelin         | 87         |
   | Os Paralamas Do Sucesso| 45       |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql 
DESCRIBE artists

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
2 rows affected.

[('ArtistId', b'int', 'NO', 'PRI', None, ''),
 ('Name', b'text', 'YES', '', None, '')]

In [3]:
%%sql 
DESCRIBE albums

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
3 rows affected.

[('AlbumId', b'int', 'NO', 'PRI', None, ''),
 ('Title', b'text', 'YES', '', None, ''),
 ('ArtistId', b'int', 'YES', 'MUL', None, '')]

In [4]:
%%sql
DESCRIBE tracks

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
9 rows affected.

[('TrackId', b'int', 'NO', 'PRI', None, ''),
 ('Name', b'text', 'YES', '', None, ''),
 ('AlbumId', b'int', 'YES', 'MUL', None, ''),
 ('MediaTypeId', b'int', 'YES', 'MUL', None, ''),
 ('GenreId', b'int', 'YES', 'MUL', None, ''),
 ('Composer', b'text', 'YES', '', None, ''),
 ('Milliseconds', b'int', 'YES', '', None, ''),
 ('Bytes', b'int', 'YES', '', None, ''),
 ('UnitPrice', b'double', 'YES', '', None, '')]

In [5]:
%%sql 
DESCRIBE invoice_items

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[('InvoiceLineId', b'int', 'NO', 'PRI', None, ''),
 ('InvoiceId', b'int', 'YES', 'MUL', None, ''),
 ('TrackId', b'int', 'YES', 'MUL', None, ''),
 ('UnitPrice', b'double', 'YES', '', None, ''),
 ('Quantity', b'int', 'YES', '', None, '')]

## Find the total number of tracks sold

In [28]:
%%sql 

SELECT COUNT(inv.TrackId) AS TracksSold
FROM invoice_items inv
ORDER BY TracksSold

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(2240,)]

In [26]:
%%sql 

SELECT ar.Name AS ArtistName, COUNT(inv.TrackId) AS TracksSold
FROM artists ar
JOIN albums al 
ON ar.ArtistId = al.ArtistId
JOIN tracks tr 
ON al.AlbumId = tr.AlbumId
JOIN invoice_items inv
ON inv.TrackId = tr.TrackId
GROUP BY ar.Name
ORDER BY TracksSold DESC
LIMIT 5

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[('Iron Maiden', 140),
 ('U2', 107),
 ('Metallica', 91),
 ('Led Zeppelin', 87),
 ('Os Paralamas Do Sucesso', 45)]