### 10.Retrieve the top 10 best-selling genres by the number of tracks sold.

   - ##### Hint: You will need to join the `genres`, `tracks`, and `invoice_items` tables and use the GROUP BY and SUM functions to calculate the number of tracks sold for each genre, and then use the ORDER BY and LIMIT clauses to retrieve the top 10 best-selling genres.

## Expected Output

| GenreName            | TotalTracksSold |
|----------------------|-------------------|
| Rock                   | 835                      |
| Latin                   | 386                      |
| Metal                 | 264                      |
| Alternative & Punk | 244                      |
| Jazz                    | 80                        |
| Blues                   | 61                        |
| TV Shows            | 47                        |
| Classical            | 41                        |
| R&B/Soul           | 41                        |
| Reggae               | 30                        |

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql 

SELECT * FROM genres
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'Rock')]

In [3]:
%%sql 

SELECT * FROM tracks
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)]

In [4]:
%%sql 

SELECT * FROM invoice_items
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 1, 2, 0.99, 1)]

In [5]:
%%sql 

SELECT g.Name AS GenreName, SUM(ii.Quantity) AS TotalTracksSold
FROM genres g
JOIN tracks t ON t.GenreId = g.GenreId
JOIN invoice_items ii ON ii.TrackId = t.TrackId
WHERE ii.InvoiceId IS NOT NULL
GROUP BY GenreName
ORDER BY TotalTracksSold DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
10 rows affected.

[('Rock', Decimal('835')),
 ('Latin', Decimal('386')),
 ('Metal', Decimal('264')),
 ('Alternative & Punk', Decimal('244')),
 ('Jazz', Decimal('80')),
 ('Blues', Decimal('61')),
 ('TV Shows', Decimal('47')),
 ('Classical', Decimal('41')),
 ('R&B/Soul', Decimal('41')),
 ('Reggae', Decimal('30'))]