### 4.Retrieve the total revenue generated by the store for each year.

- ##### Hint: You will need to use the `invoices` table and extract the year from the `InvoiceDate` column using the YEAR function. Then, use the GROUP BY and SUM functions to calculate the total revenue generated for each year.

## Expected Output

   | Year | Revenue |
   -------|---------|
   | 2009 | 449.46  |
   | 2010 | 481.45 |
   | 2011 | 469.58|
   | 2012 | 477.53|
   | 2013 | 450.58| |
   -----------------

In [1]:
%run setup_notebook.ipynb

In [2]:
%%sql

SELECT *
FROM invoices
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
1 rows affected.

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)]

In [3]:
%%sql 

SELECT InvoiceDate
FROM invoices
LIMIT 3

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
3 rows affected.

[('2009-01-01 00:00:00',), ('2009-01-02 00:00:00',), ('2009-01-03 00:00:00',)]

In [4]:
%%sql 

SELECT YEAR(InvoiceDate)
FROM invoices
LIMIT 3

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
3 rows affected.

[(2009,), (2009,), (2009,)]

In [5]:
%%sql 

SELECT YEAR(InvoiceDate) AS Year, ROUND(SUM(Total), 2) AS Revenue
FROM invoices
GROUP BY Year
ORDER BY Year

 * mysql+mysqlconnector://root:***@localhost/sqlite_MediaStore
5 rows affected.

[(2009, 449.46),
 (2010, 481.45),
 (2011, 469.58),
 (2012, 477.53),
 (2013, 450.58)]